:root {
    --blanco: #FFFFFF;
    --negro: #0f1419;
    --negro-alterno: #343434;

    --gris-claro: #f7f9f9;
    --gris-delimitador: #C7C7C7;

    --azul-principal: #2d68f5;

    --fuente: 'Inter', sans-serif;
    --peso-ligero: 300;
    --peso-medio: 400;
    --peso-fuerte: 700;
    --vsm: 12px;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

    // Dark mode
    --azul-fondo-oscuro: #15202b;
    --azul-fondo-claro: rgba(30,39,50);
}