@use "../styles/vars";

.carrousel{
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    border-radius: 16px;
    gap: 6px;
    padding-bottom: 12px;

    &::-webkit-scrollbar{
        display: none;
    }
}
.carrouselFixed{
    // position: relative;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    border-radius: 0 0 16px 16px;
    gap: 4px;
    padding: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(247, 249, 249, 0.5);

    &::-webkit-scrollbar{
        display: none;
    }
}  