.carrousel{
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    border-radius: 75px;
    

    &::-webkit-scrollbar{
        display: none;
    }
}
.carrouselFixed{
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    border-radius: 60px;
    padding: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: #fff;

    &::-webkit-scrollbar{
        display: none;
    }
}  